﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

	<div class="grid">
		<div class="grid-item grid-1">
			<div class="grid-image"><div class="grid-img grid-img-1"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-2">
			<div class="grid-image"><div class="grid-img grid-img-2"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-3">
			<div class="grid-image"><div class="grid-img grid-img-3"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-4">
			<div class="grid-image"><div class="grid-img grid-img-4"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-1">
			<div class="grid-image"><div class="grid-img grid-img-1"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-2">
			<div class="grid-image"><div class="grid-img grid-img-2"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-3">
			<div class="grid-image"><div class="grid-img grid-img-3"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-4">
			<div class="grid-image"><div class="grid-img grid-img-4"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-1">
			<div class="grid-image"><div class="grid-img grid-img-1"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-2">
			<div class="grid-image"><div class="grid-img grid-img-2"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-3">
			<div class="grid-image"><div class="grid-img grid-img-3"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-4">
			<div class="grid-image"><div class="grid-img grid-img-4"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-1">
			<div class="grid-image"><div class="grid-img grid-img-1"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-2">
			<div class="grid-image"><div class="grid-img grid-img-2"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-3">
			<div class="grid-image"><div class="grid-img grid-img-3"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-4">
			<div class="grid-image"><div class="grid-img grid-img-4"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-1">
			<div class="grid-image"><div class="grid-img grid-img-1"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-2">
			<div class="grid-image"><div class="grid-img grid-img-2"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-3">
			<div class="grid-image"><div class="grid-img grid-img-3"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-4">
			<div class="grid-image"><div class="grid-img grid-img-4"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-1">
			<div class="grid-image"><div class="grid-img grid-img-1"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-2">
			<div class="grid-image"><div class="grid-img grid-img-2"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-3">
			<div class="grid-image"><div class="grid-img grid-img-3"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-4">
			<div class="grid-image"><div class="grid-img grid-img-4"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-1">
			<div class="grid-image"><div class="grid-img grid-img-1"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-2">
			<div class="grid-image"><div class="grid-img grid-img-2"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-3">
			<div class="grid-image"><div class="grid-img grid-img-3"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="grid-item grid-4">
			<div class="grid-image"><div class="grid-img grid-img-4"></div></div>
			<div class="grid-btn"><i class="fas fa-ellipsis-h"></i></div>
		</div>
	</div>

