﻿@model IEnumerable<Examen.Models.Clientes>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="content listar">
	<div class="listar-link">
		@Html.ActionLink("Nuevo Registro", "Registro", null, new { @class = "btn" })
	</div>

	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.codigo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.razonSocial)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.fechaIA)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.paginaWeb)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.direccion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.rubro)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.codigo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.razonSocial)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.fechaIA)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.paginaWeb)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.direccion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.rubro)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
			</tr>
		}

	</table>
</div>

