﻿@model Examen.Models.Clientes

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


	<div class="content">
		@using (Html.BeginForm())
		{
		@Html.AntiForgeryToken()

		<div class="form-item">
			@Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label" })
			@Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.codigo, "")
		</div>


		<div class="form-item">
			@Html.LabelFor(model => model.razonSocial, htmlAttributes: new { @class = "control-label" })
			@Html.EditorFor(model => model.razonSocial, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.razonSocial, "")
		</div>

		<div class="form-item">
			@Html.LabelFor(model => model.fechaIA, htmlAttributes: new { @class = "control-label" })
			@Html.EditorFor(model => model.fechaIA, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.fechaIA, "")
		</div>

		<div class="form-item">
			@Html.LabelFor(model => model.paginaWeb, htmlAttributes: new { @class = "control-label" })
			@Html.EditorFor(model => model.paginaWeb, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.paginaWeb, "")
		</div>

		<div class="form-item">
			@Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label" })
			@Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.direccion, "")
		</div>

		<div class="form-item">
			@Html.LabelFor(model => model.rubro, htmlAttributes: new { @class = "control-label" })
			@Html.TextAreaFor(model => model.rubro, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.rubro, "")
		</div>

		<div class="form-item">
			<button type="submit" class="btn">Registrar</button>
		</div>
	}
	</div>


	<script>
		if ('@ViewBag.mensaje' != '')
			alert('@ViewBag.mensaje')
	</script>



