﻿.btn {
	width:100%;
	height:100%;
	background-color: #BD081C;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	padding: 1rem;
	border-radius: 8px;
}

.btn:active {
	transform: scale(.97);
	outline: 0;
}

 
