﻿.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	height: calc(100vh - 120px);


}


form {
	width: 100%;
	max-width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70px 70px 70px 130px 50px;
	grid-template-areas: 'codigo razon' 'direccion fecha' 'pagina pagina' 'rubro rubro' 'boton boton';
	grid-gap: 1.5rem;
	position: relative;
}

form::after {
	content: 'Registro';
	position: absolute;
	width: 100%;
	top: -5rem;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.form-item:nth-child(2){
	grid-area: codigo;
}
.form-item:nth-child(3) {
	grid-area: razon;
}
.form-item:nth-child(4) {
	grid-area: direccion;
}
.form-item:nth-child(5) {
	grid-area: fecha;
}
.form-item:nth-child(6) {
	grid-area: pagina;
}
.form-item:nth-child(7) {
	grid-area: rubro;
}
.form-item:nth-child(8) {
	grid-area: boton;
}


.form-item{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	position:relative;
}
	.form-item textarea {
		height: 100px;
		padding: 10px;
		background: rgb(255, 255, 255);
		border: 2px solid #ddd;
		border-radius: 8px;
	}

.form-item label{
	color: #444;
	font-weight: 500;

}

.form-item input {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background: rgb(255, 255, 255);
	border: 2px solid #ddd;
	padding-left: 10px;
}

.form-item span{
	position: absolute;
	bottom: 0;
	color: crimson;
	z-index: -1;
	transform: translateY(1.2rem);
	font-weight: 500;
}




