﻿
/* Container */
.container {
	width: 100%;
	min-height: 100vh;
	padding-top: 70px;
}

/* Header */


.header {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 30px 10fr 3fr;
	align-items: center;
	padding-right: 1rem;
	padding-left: 1rem;
	z-index: 1000;
	background: white;
	box-shadow: 0 0 3px #444;
}

@media screen and (min-width:36em) {
	.header {
		grid-template-columns: 1fr 10fr 3fr;
	}
}

.header-logo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

	.header-logo img {
		width: 40px;
	}

.header-input {
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 24px;
	height: 40px;
	background: #EFEFEF;
	color: #444;
	width: 100%;
}

	.header-input input {
		border: none;
		width: 100%;
		height: 100%;
		color: #444;
		padding-left: 2rem;
		outline: 0;
		background: transparent;
	}


/* Menu */

.nav {
	width: 100%;
	height: 100%;
}

.nav-list {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-item {
	padding: 0 .5rem;
}

.nav-link {
	padding: .5rem 1rem;
	color: #111111;
	border-radius: 24px;
	font-size: 1em;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	transition: background-color .2s;
}

	.nav-link:hover {
		background-color: #EFEFEF;
	}

	.nav-link.active {
		background-color: #111111;
		color: white;
	}


/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #444;
	padding: 0;
}

	.footer p {
		font-size: 1.2em;
		color: white;
		text-align: center;
	}

.footer .footer-link{
	color: crimson;
	font-weight: bold;
}
