﻿
/* Estilos para Main*/

.grid {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 150px);
	grid-template-rows: repeat(35, 150px);
	width: 100%;
	justify-content: center;
	grid-gap: 1rem;
}

/* Aplicando Responsive a la Grilla*/
@media screen and (min-width: 36em) {
	.grid {
		grid-template-columns: repeat(3, 180px);
		grid-template-rows: repeat(25, 150px);
	}
}

@media screen and (min-width: 48em) {
	.grid {
		grid-template-columns: repeat(4, 190px);
		grid-template-rows: repeat(15, 150px);
	}
}

@media screen and (min-width: 62em) {
	.grid {
		grid-template-columns: repeat(5, 200px);
		grid-template-rows: repeat(15, 150px);
	}
}




.grid-item {
	border-radius: 7px;
	transition: all .5s;
	position: relative;
}

	.grid-item:before {
		content: '';
		width: 100%;
		height: 100%;
		background: #f2f2f2;
		position: absolute;
		border-radius: 7px;
		transform: scale(0.8);
		opacity: 0;
		transition: all .2s;
	}

	.grid-item:hover:before {
		transform: scale(1);
		opacity: 1;
	}

	.grid-item:hover .grid-img:after {
		opacity: .2;
	}

.grid-image {
	padding: .5rem;
	height: calc(100% - 3rem);
}

.grid-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 7px;
	position: relative;
}

	.grid-img:after {
		content: '';
		width: 100%;
		height: 100%;
		background: black;
		position: absolute;
		border-radius: 7px;
		opacity: 0;
	}

.grid-img-1 {
	background-image: url("https://i.pinimg.com/564x/8f/bc/b8/8fbcb8858d41e819922f1b8812658363.jpg");
}

.grid-img-2 {
	background-image: url("https://i.pinimg.com/564x/8f/e3/f9/8fe3f96f2ccf33301bef919af54e12c9.jpg");
}

.grid-img-3 {
	background-image: url("https://i.pinimg.com/564x/38/5c/5a/385c5aa195d975dfaf139af25c9ade72.jpg");
}

.grid-img-4 {
	background-image: url("https://i.pinimg.com/564x/2f/83/af/2f83af46c0826a414636e0b9c58098d1.jpg");
}

.grid-btn {
	width: 100%;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #8e8e8e;
	position: relative;
	right: .3rem;
	bottom: .3rem;
}

	.grid-btn i {
		padding: .3rem;
		border-radius: 50%;
		transition: all .5s;
	}

		.grid-btn i:hover {
			background: #e4e4e4;
		}

.grid-1 {
	grid-row-end: span 1;
}

.grid-2 {
	grid-row-end: span 2;
}

.grid-3 {
	grid-row-end: span 3;
}

.grid-4 {
	grid-row-end: span 4;
}

