﻿<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" rel="stylesheet"/>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="container">
		<header class="header">
			<div class="header-logo">
				<img src="~/img/logo.png" alt="logo de Zara" />
			</div>
			<div class="header-input">
				<input type="text" placeholder="Buscar" />
			</div>
			<nav class="nav">
				<ul class="nav-list">
					<li class="nav-item">
						@Html.ActionLink("Inicio", "Index", "Plaza", null, new { @class = "nav-link active" })
					</li>
					<li class="nav-item">
						@Html.ActionLink("Cliente", "Registro", "Cliente", null, new { @class = "nav-link" })
					</li>
				</ul>
			</nav>
		</header>
		<main class="main">
			@RenderBody()
		</main>
		<footer class="footer">
			<p>Todos los derechos reservados By
				<a class="footer-link" href="https://juliorivera.dev" target="_blank" rel="noreferrer noopener">Julio Cesar Rivera</a>
			&copy; 2020</p>
		</footer>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
</body>
</html>